
<div class="header">
  <h1>{{ messagesCtrl.channelName }}</h1>
</div>

<div class="theMessages">
<div class="message-wrap" ng-repeat="message in messagesCtrl.messages">
<div class="panel panel-primary">
<!-- message pic -->
  <img class="user-pic" ng-src="{{ channelsCtrl.getGravatar(message.uid) }}" />
  <div class="message-info">
  <!-- user & timestamp -->
    <div class="user-name">
      {{ channelsCtrl.getDisplayName(message.uid) }}
      <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
    </div>
    <!-- the message text itself -->
    <div class="message">
     {{ message.body }}
    </div></div>
  </div>
</div>
</div>


<div class="res">
  <pre>
    {{messagesCtrl.songRes | json}}
  </pre>
</div>
<div class="myForms">
<form class="message-form" ng-submit="messagesCtrl.sendMessage()">

  <div class="input-group">
  <span class="input-group-addon">
    <i class="fa fa-spotify fa-lg"/>
  </span>
    <input type="text" class="form-control" ng-model="messagesCtrl.message" placeholder="Type a message...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Send</button>
    </span>
  </div>
</form>



<form ng-submit="messagesCtrl.spotSearch()">
<input type="text" class="form-control" ng-model="messagesCtrl.spotSearchText" placeholder="Look up a Song on Spotify" />
<input type="submit" class="btn btn-success" />
</form>
</div>

